<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>${product.name}</title>
</head>
<body>
<div class="wrapper">
    <div th:insert="~{fe/commons/fragments::header}">
    </div>

    <div>
        <div th:replace="~{fe/commons/fragments::tagline('Product Page')}"></div>
        <ul th:object="${product}">
            <li th:text="*{id}"></li>
            <li th:text="*{name}"></li>
            <li th:text="*{price}"></li>
        </ul>
    </div>

    <footer th:replace="~{fe/commons/fragments::footer}">
    </footer>
</div>
</body>
</html>
