<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<ul>
    <li th:each="product:${products}">
        <span th:text="${product.getId()}"></span>
        <span th:text="${product.getName()}"></span>
        <span th:text="${product.getPrice()}"></span>
        <a th:each="tag:${product.getTags()}" th:text="${'#'+tag.getName()}"></a>
    </li>

    <!--get tags-->
    <li th:each="tag:${tags}">
        <span th:text="${tag.getId()}"></span>
        <span th:text="${tag.getName()}"></span>
        <ul>
            <li th:each="product:${tag.getProducts()}">
                <span th:text="${product.getName()}"></span>
                <span th:text="${product.getPrice()}"></span>
            </li>
        </ul>
    </li>
</ul>
</body>
</html>
