<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="container mx-auto">
    <nav class="flex items-center justify-between py-4 px-2 shadow bg-gray-800 text-white">
        <ul class="flex items-center space-x-2">
            <li><a href="/fe/home">Home</a></li>
            <li><a href="/fe/about">Category</a></li>
        </ul>

        <div>
            <a th:href="@{/cart}">Cart</a>
            <a class="cursor-pointer inline-block p-2 bg-white rounded-md text-gray-800">
                Login
            </a>
        </div>
    </nav>

    <div style="min-height: 100vh;width: 100%">
        <h5 class="text-gray-800 text-xl mt-3 uppercase">Checkout</h5>
        <div class="w-1/3 mx-auto">
            <form class="order-form" onsubmit="return submitOrder()">
                <label>
                    <span>Full Name</span>
                    <input type="text" name="fullName" class="border w-full">
                </label>

                <label>
                    <span>Phone</span>
                    <input type="text" name="phone" class="border w-full">
                </label>

                <label>
                    <span>Address</span>
                    <input type="text" name="address" class="border w-full">
                </label>

                <label>
                    <span>Note</span>
                    <textarea name="note" placeholder="Input your extra message" class="border w-full"></textarea>
                </label>

                <button class="cursor-pointer inline-block p-2 bg-white rounded-md border text-gray-800">Checkout
                </button>
            </form>
        </div>
    </div>

    <footer class="text-center bg-gray-800 text-white">
        Copyright@2024
    </footer>
</div>

<script>
    function submitOrder(event) {
        // Call API to submit order
        const CARTS_KEY = "carts";
        let carts = localStorage.getItem(CARTS_KEY) ? JSON.parse(localStorage.getItem(CARTS_KEY)) : [];
        if (carts.length == 0) {
            alert("Cart is empty");
            return false;
        }

        const subTotal = carts.reduce((acc, cartItem) => acc + cartItem.product.price * cartItem.quantity, 0);
        const tax = 0.1 * subTotal;
        const total = subTotal + tax + 100;


        const nodeFullName = document.querySelector('.order-form input[name="fullName"]');
        const nodePhone = document.querySelector('.order-form input[name="phone"]');
        const nodeAddress = document.querySelector('.order-form input[name="address"]');
        const nodeNote = document.querySelector('.order-form textarea[name="note"]');

        const payload = {
            "orderInfo": {
                "fullName": nodeFullName.value,
                "phone": nodePhone.value,
                "address": nodeAddress.value,
                "subTotal": subTotal,
                "tax": tax,
                "total": total,
                "shippingFee": 0
            },
            "productList": [
                ...carts.map(cartItem => ({
                    "productId": cartItem.product.id,
                    "quantity": cartItem.quantity,
                    "price": cartItem.product.price
                }))
            ]
        }

        fetch('/api/checkout', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(payload)
        }).then(response => {
            if (response.status == 200) {
                alert("Order successfully");
                localStorage.removeItem(CARTS_KEY);
            } else {
                alert("Order failed");
            }
        });
        return false;
    }
</script>
</body>
</html>
