<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="container mx-auto">
    <nav class="flex items-center justify-between py-4 px-2 shadow bg-gray-800 text-white">
        <ul class="flex items-center space-x-2">
            <li><a href="/fe/home">Home</a></li>
            <li><a href="/fe/about">Category</a></li>
        </ul>

        <div>
            <a th:href="@{/cart}">Cart</a>
            <a class="cursor-pointer inline-block p-2 bg-white rounded-md text-gray-800">
                Login
            </a>
        </div>
    </nav>

    <div style="min-height: 100vh;width: 100%">
        <h5 class="text-gray-800 text-xl mt-3 uppercase">Cart</h5>
        <table class="w-full text-left table-auto border-collapse border border-slate-400 min-w-max text-slate-800">
            <thead>
            <tr>
                <th style="padding: 10px">Product</th>
                <th style="padding: 10px">Total</th>
                <th style="padding: 10px">Action</th>
            </tr>
            </thead>

            <tbody class="cart-body">
            </tbody>
        </table>


        <div class="flex justify-end">
            <div>
                <p>Subtotal: <span id="sub-total"></span></p>
                <p>Tax: <span id="tax"></span></p>
                <p>Total: <span id="total"></span></p>
                <a th:href="@{/checkout}">Checkout</a>
            </div>
        </div>
    </div>

    <footer class="text-center bg-gray-800 text-white">
        Copyright@2024
    </footer>
</div>

<script>
    const CARTS_KEY = "carts";
    let carts = localStorage.getItem(CARTS_KEY) ? JSON.parse(localStorage.getItem(CARTS_KEY)) : [];
    const cartBody = document.querySelector('.cart-body');
    console.log(cartBody);

    function deleteItem(productId) {
        carts = carts.filter(cartItem => cartItem.product.id != productId);
        //sync vao store
        localStorage.setItem(CARTS_KEY, JSON.stringify(carts));

        //render lai giao dien
        renderUI();
    }

    function updateQuantity(productId, newQuantity) {
        carts = carts.map(cartItem => {
            if (cartItem.product.id == productId) {
                cartItem.quantity += newQuantity;
            }
            return cartItem;
        }).filter((cartItem) => cartItem.quantity > 0);
        //sync vao store
        localStorage.setItem(CARTS_KEY, JSON.stringify(carts));

        //render lai giao dien
        console.log(productId, newQuantity);
        renderUI();
    }

    function renderUI() {
        cartBody.innerHTML = '';
        carts.forEach(cartItem => {
            const tr = document.createElement('tr');
            tr.classList.add('text-slate-500', 'border-b', 'border-slate-300', 'bg-slate-50')
            tr.innerHTML = `
            <td style="padding:10px">
                <p>${cartItem.product.name}</p>
                <p>Price: ${formatCurrency(cartItem.product.price)}</p>
                <p>Quantity: <button class="p-2 border-gray-800 text-gray-800" onclick="updateQuantity(${cartItem.product.id},-1)">-</button>
                <input style="width: 50px" class="border" type="text" value="${cartItem.quantity}"/>
                <button class="p-2 border-gray-800 text-gray-800" onclick="updateQuantity(${cartItem.product.id},1)">+</button></p>
            </td>
            <td>${formatCurrency((cartItem.product.price) * cartItem.quantity)}</td>
            <td>
                <button onclick="deleteItem(${cartItem.product.id})">Delete</button>
            </td>`;
            cartBody.appendChild(tr);
        })

        //update UI for subtotal, tax, total
        const subTotalNode = document.getElementById('sub-total');
        const taxNode = document.getElementById('tax');
        const totalNode = document.getElementById('total');
        subTotalNode.innerText = formatCurrency(computeSubTotal());
        taxNode.innerText = formatCurrency(computeTax());
        totalNode.innerText = formatCurrency(computeTotal());
    }

    renderUI();

    function computeSubTotal() {
        return carts.reduce((acc, cartItem) => {
            return acc + cartItem.product.price * cartItem.quantity;
        }, 0);
    }

    function computeTax() {
        return computeSubTotal() * 0.1;
    }

    function computeTotal() {
        return computeSubTotal() + computeTax();
    }

    function formatCurrency(value) {
        return new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'USD'
        }).format(value);
    }

</script>
</body>
</html>
